.flex{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:20vh;
    background-color:black;
    opacity: 70%;
    color: yellow;
    font-size: 3rem;
  }
  
  


  .menu {
   max-width: 100%;
    display: flex;
    background-color: crimson;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(59, 59, 59, 0.15);
  }
  
  .menu li {
  
    float: left;
    list-style: none;
    margin: 2vmax 1vmax 0vmax 1vmax;
  
  }
  
  .menu li a {
    font-size: 3rem;
    font-family: "Silver";
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color linear 0.15s;
    cursor: pointer;
  }
  
  .menu .menu-logo {
    margin: auto;
    margin-left: 0px;
    padding: 10px 10px 10px 20px;
  }
  
  .menu .menu-logo a {
    color: #fff;
  }
  
  .menu a:hover, .menu .current-active a {
    text-decoration: none;
    color: rgb(233, 233, 130);
  }
  
  .toggle-nav {
    display: none;
  }



  @media screen and (max-width: 767px){
    .menu {
        position: relative;
        display: inline-block;
    }
    .toggle-nav {
        position: absolute;
        left: 4%;
        color: #ffffff;
        text-decoration: none;
        line-height: 40px;
    }
    .menu .menu-logo {
        position: relative;
        left: 40%;
    }
    .menu ul.active {
        display: none;
    }
    .menu ul {
        left: 0px;
        padding: 10px 25px;
        margin-top: -5px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 3px 3px;
        background: #ffffff;
    }
    .menu li {
        margin: 10px 0px 10px 0px;
        float: none;
        display: block;
    }
    .menu a {
        display: block;
    }
  }

}



  /*        適用於電腦螢幕*/
  @media screen{
    div{
      text-align: center;
        width:1280px;
        height:560px;
        margin:auto;
    }
    header{
      display: none;
      text-align: center;
        width: 1280px;
        height: 260px;
        background-image: url(images/header.jpg);
    }
    nav{
      text-align: center;
        width: 1280px;
        height: 55px;
        background-image: url(images/nav.gif);
    }
    nav img{
        margin: 5px 25px 0px;
    }
    aside{
        width:1280px;
        height: 265px;
        background-image: url(images/aside.jpg);
        float: left;
    }
    aside img{
        display:none;
    }
    span{
        display: none;
    }
    article{
        width:1280px;
        height:265px;
        background-image: url(images/article.gif);
        float: left;
        font-size:13px;
    }
    article h1{
        font-size:20px;
        color:brown;
        text-align: center;
       
        margin-top:40px;
    }
    article h2{
        font-size:14px;
        font-weight: normal;
        text-align: center;
        margin-top: 30px;
    }
    footer{
      
        width:1280px;
        height:20px;
        background-image: url(image/imageGif/link.gif);
        clear:both;
        font-size:13px;
        text-align: center;
       
      }
}


/*        適用於平版直著拿的情況（平版橫著拿的情況就和電腦螢幕相同）*/
@media screen and (min-width:481px) and (max-width:768px){
     div{
        width:100%;
        height:auto;
        margin:auto;
    }
    header{
        width: 480px;
        height: 260px;
        background-image: url(images/header.jpg);
        display: none;
    }
    nav{
        width: 100%;
        height: auto;
        background-image: none;
        text-align: center;
        padding-bottom: 30px;
    }
    nav img{
        margin: 5px 5px 0px;
    }
    aside{
        width:100%;
        height: auto;
        background-image: none;
        float: none;
        text-align: center;
    }
    aside img{
        display:inline-block;
    }
    span{
        display: none;
    }
    article{
        width:80%;
        height:auto;
        background-image: none;
        float: none;
        font-size:16px;
        margin: auto;
    }
    article h1{
        font-size:24px;
        color:brown;
        text-align: center;
        margin-top:40px;
    }
    article h2{
        font-size:20px;
        font-weight: normal;
        text-align: center;
        margin-top: 30px;
    }
    footer{
        width:100%;
        height:auto;
        background-image: none;
        clear:both;
        font-size:16px;
        text-align: center;
    }
}