.mid{height: 50px;
  text-align: center;
}

*{margin: 0;}

#imgSlider{

  width: 1280px;
	height: 200px;
	margin: 8rem auto;

overflow: hidden;
position: relative;
}

#pics{
 

	width: 5120px;
height: 200px;
position: absolute;

}

#pics img{
border: red 5px solid;
width: 1280px;
height: 200px;
float: left;

}

#pics:hover {
cursor: pointer;
}