.mid{height: 50px;
  text-align: center;
}

*{margin: 0;}

#imgSlider{

  width: 1280px;
	height: 500px;
	margin: 8rem auto;

overflow: hidden;
position: relative;
}

#pics{
 	width: 5120px;
max-height: 100%;
position: absolute;

}

#pics img{
border: red 5px solid;
width: 1280px;
height: 500px;
float: left;

}

#pics:hover {
cursor: pointer;
}

#pics a img{
	 max-width: 100%;
	 max-height: 100%;
}